body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
}

div.contenido {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(197, 193, 193);
    place-items: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    padding-left: 0;
    padding-top: 3em;
}

#cabecera {
    width: 100%;
    font-size: 16px;
    height: 50px;
    line-height: 1px;
    display: block;
    padding: 3px 5px 2px;
    background-color: rgb(55, 108, 253);
    margin-bottom: 2px;
    margin-top: 2px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(197, 193, 193);
    position: fixed;
    padding: 0;
    margin: 0;
}

#Indice {
    display: block;
    height: 2500px;
    width: 170px;
    float: left;
    position: fixed;
    padding-top: 10rem;
    top: 58px;
}

aside {
    display: block;
    height: 2500px;
    width: 170px;
    float: left;
    padding-top: 10rem;
    top: 58px;
}

h1 {
    color: whitesmoke;
    text-align: left;
    padding-left: 3px;
}

div p {
    color: black;
    text-align: left;
    font-size: large;
}

div h2 {
    color: rgb(7, 7, 92);
    font-size: x-large;
    text-align: left;
}

div em {
    font-weight: bold;
    text-decoration: underline;
    font-size: 18px;
}

div li {
    font-size: 18px;
}

a:link,
a:visited,
a:hover {
    font: algerian;
    display: block;
    flex-direction: column;
    background-color: rgb(55, 108, 253);
    border: 1px solid black;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-bottom: 1px;
    width: 150px;
    height: 30px;
    margin-bottom: 10px;
    border-style: outset;
    margin-left: 5px;
}

div img {
    align-items: center;
    height: 300px;
    width: 600px;
}

footer {
    text-align: center;
    background: cornflowerblue;
    padding: 0;
    margin: 0;
}

#Recomendaciones {
    padding-top: 5rem;
}
