body{
    background-color: whitesmoke;
}

div.contenido{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(197, 193, 193);
    place-items: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 4rem;
    width: 75%; 
    background-color: aqua; 
}


#cabecera{
    width: 100%;
    font-size: 16px;
    height: 50px;
    line-height: 1px;
    display: block;
    padding: 3px 5px 2px;
    background-color: whitesmoke;
    margin-bottom: 2px;
    margin-top: 2px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(197, 193, 193);
    position: fixed;
    top: 0;

}

#Indice{
    display: block;
    height: 700px;
    width: 170px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(197, 193, 193);
    float: left;
    position: fixed;
    padding-top: 10rem;
    top: 58px;
}

aside{
    display: block;
    height: 1900px;
    width: 170px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(197, 193, 193);
    float: left;
    padding-top: 10rem;
    top: 58px;
}

h1{
    color: rgb(50, 50, 202);
    text-align: left;
}

p{
    color: black;
    text-align: left;
}

div h2{
    color: rgb(5, 5, 71);
    font-size: xx-large;
    text-align: left;
}

a:link, a:visited, a:hover{
    text-decoration: underline;
    text-decoration-color: black;
    font: algerian;
    color: black;
}

div img{
    align-items: center;
    height: 400px;
    width: 700px;
}

footer{
    width: 1340px;
    font-size: 16px;
    height: 100px;
    line-height: 1px;
    display: block;
    background-color: rgb(82, 82, 240);
    margin-bottom: 2px;
    margin-top: 2px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(197, 193, 193);
    bottom: 0;
}

