* {
    box-sizing: border-box;
    float: initial;
}

body {
    background-color: rgb(26, 24, 24);
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    clear: left;
}

h1 {
    font-size: 30px;
    margin: 10px;
}

#cabecera {
    width: 100%;
    font-size: 16px;
    height: 60px;
    line-height: 1px;
    display: flex;
    background-color: rgb(55, 108, 253);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(197, 193, 193);
    position: fixed;
    justify-content: space-between;
}

nav {
    display: flex;
    place-items: center;
    padding-right: 30px;
    font-family: sans-serif;
    margin: 10px;
}

#titulo:link,
#titulo:visited {
    padding-top: 1px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;
}

div.contenido {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(197, 193, 193);
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    width: 85%;
    padding-top: 4em;
    box-sizing: border-box;
    padding-left: 2em;
    float: right;
    padding-right: 4em;
}

div p {
    color: whitesmoke;
    text-align: left;
    font-size: large;
}

div h2 {
    color: rgb(16, 16, 190);
    font-size: x-large;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 10px;
}

div em {
    font-weight: bold;
    text-decoration: underline;
    font-size: 18px;
}

div li {
    font-size: 18px;
    color: whitesmoke;
}

a:link.boton,
a:visited.boton {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    background-color: rgb(55, 108, 253);
    color: white;
    text-decoration: none;
    text-align: center;
    width: 150px;
    height: 45px;
    border-left: 1px solid slateblue;
    border-right: 1px solid slateblue;
    margin: 10px 0px;
    padding-top: 20px;
}

a:hover.boton {
    background-color: rgb(52, 37, 250);
}

div img {
    align-items: center;
    height: 300px;
    width: 600px;
    margin: 15px;
}

#Pie {
    background: cornflowerblue;
    bottom: 0;
    height: 50px;
    width: 100% !important;
    margin: 0;
    padding: 0;
}

#Pie>p {
    text-align: center;
    margin: 10px;
}

#Recomendaciones {
    padding-top: 4rem;
}

#Conclusión {
    border-bottom: none;
}