* {
    box-sizing: border-box;
    float: initial;
}

body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    clear: left;
}

#cabecera {
    width: 100%;
    font-size: 16px;
    height: 60px;
    line-height: 1px;
    display: flex;
    background-color: rgb(55, 108, 253);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(197, 193, 193);
    position: fixed;
    padding: 8px 0px;
    justify-content: space-between;
}

nav {
    display: flex;
    place-items: center;
    padding-right: 5px;
}

#titulo:link,
#titulo:visited {
    padding-top: 1px;
    text-decoration: none;
    color: whitesmoke;
}

div.contenido {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(197, 193, 193);
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    width: 85%;
    padding-top: 3em;
    box-sizing: border-box;
    padding-left: 2em;
    float: right;
    padding-right: 4em;
}

div p {
    color: black;
    text-align: left;
    font-size: large;
}

div h2 {
    color: rgb(7, 7, 92);
    font-size: x-large;
    text-align: left;
}

div em {
    font-weight: bold;
    text-decoration: underline;
    font-size: 18px;
}

div li {
    font-size: 18px;
}

.boton {
    padding-top: 18px;
}

a:link.boton,
a:visited.boton {
    font-family: 'Times New Roman', Times, serif;
    display: block;
    background-color: rgb(55, 108, 253);
    color: white;
    text-decoration: none;
    text-align: center;
    width: 150px;
    height: 45px;
    border-left: 1px solid slateblue;
    border-right: 1px solid slateblue;
}

a:hover.boton {
    background-color: rgb(37, 27, 180);
    text-decoration: underline;
}

div img {
    align-items: center;
    height: 300px;
    width: 600px;
}

#Pie {
    background: cornflowerblue;
    bottom: 0;
    height: 50px;
    width: 100% !important;
    margin: 0;
    padding: 0;
}

#Pie>p {
    text-align: center;
    margin: 0;
    padding: 15px;
}

#Recomendaciones {
    padding-top: 4rem;
}

#Conclusión {
    border-bottom: none;
}